body
    {background-color: orange;
        font-family: Verdana, Geneva, Tahoma, sans-serif, monospace; font-size: larger;}
    table
    {color:orange; 
        background-color: black; 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid blueviolet;
        border-radius: 10px;}
    ol
    {text-align: center;}
    li
    {margin-left: auto;
    margin-right: auto;
list-style-position: inside;}
    h1
    {text-align: center; 
        color: #8A6EEB;
        text-decoration-line: line-through; 
        outline-color: #EBDE6E;
        font-family: serif;}
    button{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

    img{border-radius: 15px; border-bottom-left-radius: 25px;border-style: solid; border-color: aliceblue;}